@model Demo.production_log

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>production_log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ictags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ictags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ocoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ocoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.channel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.channel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pre_coa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pre_coa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video_card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.video_card)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.screen_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.screen_size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.wcoa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
