
@{
    ViewBag.Title = "search_result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="leader">Search Result @@ @ViewData["type"] for @ViewData["asset"]</h1>
<br />
<hr />
<div class="flex-grid">
    <div class="row">
        <div class="cell colspan4">
            <div class="accordion" data-role="accordion">

                <div class="frame active">
                    <div class="heading">Assets w/ same Serial #<span class="mif-tag icon"></span></div>
                    <div id="serial_message" class="content">

                    </div>
                </div>

            </div>
            </div>
        </div>
        
    <br />
   
        
        <div class="row">
            <div class="cell colspan4">
                <div id="discovery_panel" class="panel" data-role="draggable" data-drag-element=".heading">
                    <div class="heading">
                        <span class="icon mif-home"></span>
                        <span class="title">Discovery</span>
                    </div>
                    <div class="content">
                        <table class="table striped hovered cell-hovered border bordered">
                            <thead>


                            </thead>

                            <tbody id="discovery_data"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="cell colspan4">
                <div id="rediscovery_panel" class="panel" data-role="draggable" data-drag-element=".heading">
                    <div class="heading">
                        <span class="icon mif-home"></span>
                        <span class="title">Rediscovery</span>
                    </div>
                    <div class="content">
                        <table class="table striped hovered cell-hovered border bordered">
                            <thead>

                            </thead>

                            <tbody id="rediscovery_data"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="cell colspan4">
                <div id="imaging_panel" class="panel" data-role="draggable" data-drag-element=".heading">
                    <div class="heading">
                        <span class="icon mif-home"></span>
                        <span class="title">Imaging</span>
                    </div>
                    <div class="content">
                        <table class="table striped hovered cell-hovered border bordered">
                            <thead>

                            </thead>

                            <tbody id="imaging_data"></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>













<script>


    var data = {

        asset_tag: '@ViewData["asset"]',
        type : '@ViewData["type"]'
    }

    $.getJSON("@Url.Action("search_result_json")", data, function (data) {


         for (var i = 0; i < data.serial.length; i++) {

             $('#serial_message').append("\r\n<a href='/home/search_result?asset_tag=" + data.serial[i] + "'>" + data.serial[i]+"</a>");

        }
              //start processing json
              //some asset will not contain all 3 stage of info
              // in that case data will not be process for that specific stage
              for (var i = 0; i < data.discovery.length; i++) {
                  if (data.discovery != null) {
                      var a = moment(data.discovery.time);

                      data.discovery[i].time = moment(data.discovery[i].time).format("YYYY-MM-DD HH:mm");
                      $('#discovery_data').html("<tr><td>Time</td><td>" + data.discovery[i].time + "</td></tr><tr><td>Asset Tag</td><td>" + data.discovery[i].ictag + "</td></tr><tr><td>Serial</td><td>" + data.discovery[i].serial + "</td></tr><tr><td>Manufacture</td><td>" + data.discovery[i].brand + "</td></tr><tr><td>Model</td><td>" + data.discovery[i].model + "</td></tr><tr><td>CPU</td><td>" + data.discovery[i].cpu + "</td></tr><tr><td>RAM</td><td>" + data.discovery[i].ram + "</td></tr><tr><td>HardDrive</td><td>" + data.discovery[i].hdd + "</td></tr><tr><td>Optical Drive</td><td>" + data.discovery[i].optical_drive + "</td></tr>")
                  }
                  if (data.rediscovery != null) {

                      var b = moment(data.rediscovery[i].time);

                      var result = "";

                      var diff = b.diff(a, 'days');
                      data.rediscovery[i].time = moment(data.rediscovery[i].time).format("YYYY-MM-DD HH:mm");



                      $('#rediscovery_data').html("<tr><td>Time</td><td>" + data.rediscovery[i].time + " (" + diff + " day(s) idle)</td></tr><tr><td>Asset Tag</td><td>" + data.rediscovery[i].ictag + "</td></tr><tr><td>Serial</td><td>" + data.rediscovery[i].serial + "</td></tr><tr><td>Manufacture</td><td>" + data.rediscovery[i].brand + "</td></tr><tr><td>Model</td><td>" + data.rediscovery[i].model + "</td></tr><tr><td>CPU</td><td>" + data.rediscovery[i].cpu + "</td></tr><tr><td>RAM</td><td>" + data.rediscovery[i].ram + result + " </td></tr><tr><td>HardDrive</td><td>" + data.rediscovery[i].hdd + "</td></tr><tr><td>Optical Drive</td><td>" + data.rediscovery[i].optical_drive + "</td></tr><tr><td>SKU</td><td>" + data.rediscovery[i].pallet + "</td></tr><tr><td>Pre-COA</td><td>" + data.rediscovery[i].pre_coa + "</td></tr><tr><td>Refurbisher</td><td>" + data.rediscovery[i].refurbisher + "</td></tr><tr><td>Has SSD</td><td>" + data.rediscovery[i].has_SSD + "</td></tr>");
                  }
                  if (data.imaging != null) {
                      var c = moment(data.imaging[i].time);
                      var diff = c.diff(b, 'days');
                      data.imaging[i].time = moment(data.imaging[i].time).format("YYYY-MM-DD HH:mm");

                      if (data.imaging[i].channel !== data.rediscovery[i].pallet) {
                          var row = "<tr><td>SKU</td><td style='color:red'>" + data.imaging[i].channel + " (SKU Does Not Match Refurbish Data)</td></tr>"
                      }
                      else {

                          var row = "<tr><td>SKU</td><td>" + data.imaging[i].channel + "</td></tr>"

                      }

                      $('#imaging_data').html("<tr><td>Time</td><td>" + data.imaging[i].time + " (" + diff + " day(s) idle)</td></tr><tr><td>Asset Tag</td><td>" + data.imaging[i].ictags + "</td></tr><tr><td>Serial</td><td>" + data.imaging[i].serial + "</td></tr><tr><td>Manufacture</td><td>" + data.imaging[i].Manufacture + "</td></tr><tr><td>Model</td><td>" + data.imaging[i].Model + "</td></tr><tr><td>CPU</td><td>" + data.imaging[i].CPU + "</td></tr><tr><td>RAM</td><td>" + data.imaging[i].RAM + "</td></tr><tr><td>HardDrive</td><td>" + data.imaging[i].HDD + "</td></tr><tr><td>Optical Drive</td><td>" + data.imaging[i].optical_drive + "</td></tr><tr><td>WCOA</td><td>" + data.imaging[i].wcoa + "</td></tr><tr><td>OCOA</td><td>" + data.imaging[i].ocoa + "</td></tr><tr><td>Video Card</td><td>" + data.imaging[i].video_card + "</td></tr>" + row);

                  }
              }
    });


</script>